html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}
body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  overflow-y: scroll;
}
ul,
li {
  list-style: none;
}
a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.5s ease;
}
.header__main {
  background: colorSliderLeft;
}
.header__main--layout {
  position: absolute;
  z-index: 3000;
}
.content__header h1 {
  color: colorDestacado;
  font-size: 1rem;
  font-weight: normal;
  margin-top: 1em;
}
.content__menu {
  float: right;
}
.content__menu ul {
  margin: 0;
  padding: 0;
}
.content__menu li {
  display: inline-block;
  vertical-align: top;
  margin: 0 0.8em;
}
.content__menu li:nth-child(2) a:before {
  background-position: -135px 0;
}
.content__menu li:nth-child(3) a:before {
  background-position: -268px 0;
}
.content__menu li:nth-child(4) a:before {
  background-position: -397px 0;
}
.content__menu li:nth-child(5) a:before {
  background-position: -535px 0;
}
.content__menu li:nth-child(6) a:before {
  background-position: -659px 0;
}
.content__menu a {
  color: colorDestacado;
  font-size: 1.2rem;
  font-weight: 700;
  padding-top: 60px;
  position: relative;
  text-transform: uppercase;
}
.content__menu a:before {
  content: '';
  background: url("img/spriteMenu.png") no-repeat;
  height: 35px;
  width: 30px;
}
.content__body {
  font-family: 'Roboto Slab', serif;
}
.content__body h2 {
  border-bottom: solid colorBloque 2px;
  color: colorBloque;
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-size: 36px;
  font-weight: 500;
  margin: 0 0 0.8em;
  padding-bottom: 0.2em;
  text-transform: uppercase;
}
.content__body h3 {
  color: #0d5b8f;
  display: inline-block;
  font-size: 24px;
  font-weight: normal;
  margin: 0.2em 0;
  padding: 0 0.8em 0 0.5em;
  position: relative;
}
.content__body h3:before,
.content__body h3:after {
  height: 15px;
  position: absolute;
  top: 0;
  width: 15px;
}
.content__body h3:before {
  content: '“';
  left: 0;
}
.content__body h3:after {
  content: '”';
  right: 0;
}
.content__text {
  color: colorBody;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.body__redes {
  margin: 2.5em 0;
}
.img__section {
  float: right;
  margin: 3.5em 1.8em 0 0;
  position: relative;
}
.img__section:after {
  background: colorBloque;
  border-radius: 50%;
  bottom: 0;
  color: #fff;
  content: '';
  height: 50px;
  margin: auto -7% auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
}
.arboles {
  background: colorIconos;
}
.arboles .arbol {
  margin: 1.5em 0;
}
.arboles .arbol__figure {
  background: colorBloque;
  border-radius: 50%;
  box-shadow: 2px 2px 0 rgba(0,0,0,0.2);
  display: inline-block;
  height: 62px;
  padding: 14px 0;
  text-align: center;
  width: 62px;
}
.arboles h4 {
  display: inline-block;
  vertical-align: middle;
  padding-left: 2.5em;
  margin: 0;
}
.arboles h4 a {
  color: colorBloque;
  font-size: 30px;
  font-weight: 400;
  text-decoration: none;
}
.arboles h4 a span {
  font-weight: 700;
}
footer {
  background: colorBloque;
  color: colorDestacado;
  font-size: 12px;
  padding: 2.5em 0 1.5em;
  text-align: center;
}
footer span:last-child {
  display: inline-block;
  margin-top: 1.5em;
}
.arboles .container .row [class*=" col-"]:nth-child(1) .arbol:after {
  background: colorBloque;
  bottom: 0;
  content: "";
  height: 28px;
  margin: auto;
  position: absolute;
  right: 5%;
  top: 0;
  width: 1px;
}
.address {
  font-style: normal;
}
.address__dir {
  text-align: left;
}
.address__dir ul {
  margin: 0;
  padding: 0;
}
.address__dir ul li {
  display: inline-block;
  line-height: 24px;
  padding-left: 2.5em;
  position: relative;
  speak: none;
  text-transform: none;
  vertical-align: middle;
}
.address__dir ul li:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background: colorDestacado;
  border-radius: 50%;
  color: colorBloque;
  content: '\e605';
  display: inline-block;
  font-family: 'icomoon';
  font-size: 11px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  height: 20px;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  vertical-align: middle;
  width: 20px;
}
.footer a {
  color: colorDestacado;
  display: inline-block;
  vertical-align: middle;
}
.footer__right {
  float: right;
  position: relative;
  right: 25%;
  width: 50%;
  text-align: center;
}
.footer form {
  border: solid 1px;
  border-radius: 5px;
  height: 25px;
  line-height: 20px;
  padding-left: 1.2em;
  position: relative;
}
.search__input {
  background: none;
  border: none;
  outline: none;
  width: 210px;
}
.search .icon-search {
  background: none;
  border: none;
}
.social__icons {
  display: inline-block;
  margin-top: 1.5em;
  vertical-align: bottom;
}
.social__icons i {
  border: solid 1px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 10px;
  margin: 0 8px 0 0;
  padding: 5px;
}
.avisos__legales {
  margin-top: 1em;
}
.avisos__legales ul {
  margin: 0;
  padding: 0;
}
.avisos__legales li {
  display: inline-block;
  vertical-align: top;
  margin: 0 0.2em;
}
input[type=text]::-webkit-input-placeholder,
input[type="search"]::-webkit-input-placeholder,
input[type=email]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: colorDestacado;
}
input[type=text]:-moz-placeholder,
input[type="search"]:-moz-placeholder,
input[type=email]:-moz-placeholder,
textarea:-moz-placeholder,
color colorDestacado,
input[type=text]::-moz-placeholder,
input[type="search"]::-moz-placeholder,
input[type=email]::-moz-placeholder,
textarea::-moz-placeholder {
  color: colorDestacado;
}
input[type=text]:-ms-input-placeholder,
input[type="search"]:-ms-input-placeholder,
input[type=email]:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: colorDestacado;
}
