//colores texto
colorBody = #818282
colorIconos = #F7F7F7
colorDestacado = #FFFFFF
colorBloque = #0675bf
colorSubtitulo = #0d5b8f
colorFooter = #0a466f
colorSliderRight = #18669b
colorSliderLeft = #287ab2

//media querys
md1 = 30em  // 480px
md2 = 48em  // 768px
md3 = 62em  // 992px
md4 = 75em  // 1200px