@import 'nib'

@import "stylus/variables.styl"

@import "stylus/fuentes.styl"

@import "stylus/mixins.styl"

@import "stylus/estilos.styl"

// @import "stylus/reset.styl"

// @import "stylus/utilidades.styl"

// @import "stylus/slides.styl"

// @import "stylus/media.styl"